/* Responsivo Seccion 1 */

@media (min-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;} 
  
  .subtitles{
    text-align: center;    
  } 


 .intro {
    text-align: center;
    text-justify: auto;
    font-size: 12px;
  } 
}



/* Estilos de borde personalizado carousel */

.custom-border {
    border: 5px solid #8D94FF;
    border-radius: 0.5rem; /* opcional: para esquinas redondeadas */
}


/* Estilos Sección 5 */
.CTA5 {
    margin: 0 auto 1ch auto;
    width: 80%;
}

.logoCirculo {
    width: 30%; 
    height: auto; 
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .logoCirculo {
        width: 70%; 
        height: auto; 
        margin-bottom: 10px;
    }
}

/* Animación de imagen */
.logoCirculo {
    transition: transform 0.3s ease, filter 0.3s ease; /* Segundos para la transición*/
    opacity: 0; 
    animation: fadeIn 2s ease-in forwards;
}

.logoCirculo:hover {
    transform: scale(1.1); 
    filter: brightness(1.2); /* ++Brillo */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

