.card {
    height: 33vh;
}

.card-title {
    font-family: 'Dancing Script', 'sans-cursive';
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.card-text {
    font-size: 5rem;
    line-height: 0.5;
    font-weight: bold;
    text-align: center;
}

.card-img {
    height: 33vh;
    opacity: 60%;
    object-fit: cover;
    object-position: 50% 62%;
}

.card-img-overlay {
    top: 50%;
    position: absolute;
    height: 33vh;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .card {
        height: 20vh;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-text {
        font-size: 2rem;
    }

    .card-img {
        height: 20vh;
        object-fit: cover;
        object-position: 50% 62%;
    }

    .card-img-overlay {
        height: 20vh;
    }

}

/* Estilos formulario */

/* Boton */
#boton-enviar{
    display: block;
    margin: auto;
    background-color: #C0C4FF;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 #boton-enviar:hover {
    background-color: #5A64FF;
    color: blanchedalmond;
  }
/* Cambio de letra del checkbox */
.form-check{
    font-size: 0.7rem;
}