/* Estilos card */
.card {
    height: 33vh;
    text-align: center;
}

.card-title {
    font-family: 'Dancing Script', 'sans-cursive';
    font-size: clamp(1.5rem, 4.5vw, 4rem);
    font-weight: bold;
}

.card-text {
    font-size: clamp(2rem, 5vw, 5rem);
    font-weight: bold;
}

.card-img {
    height: 33vh;
    opacity: 60%;
    object-fit: cover;
    object-position: 50% 62%;
}

@media screen and (max-width: 768px) {
    .card {
        height: 20vh;
    }

    /* .card-title {
        font-size: 2rem;
    }

    .card-text {
        font-size: 2.5rem;
    } */

    .card-img {
        height: 20vh;
        object-fit: cover;
        object-position: 50% 62%;
    }


}

/* Estilos formulario */

/* Boton */
#boton-enviar {
    display: block;
    margin: auto;
    background-color: #C0C4FF;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#boton-enviar:hover {
    background-color: #5A64FF;
    color: blanchedalmond;
}

/* Cambio de letra del checkbox */
.form-check {
    font-size: 0.7rem;
}